
body {
  font-family: 'Fira Code', monospace;
  font-size: 100%;
  margin: 5rem;
  background-color: #FEFEFE;
  background-image: url(../background.png);
  color: #2a2a2a;
}

main {
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}
