h3 {
  margin: 0;
}

.projects {
  margin-top: 3rem;
}

.project-filter {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-container {
  margin: 0.5rem;
  width: 20rem;
  border: 1px solid #DDD;
  background-color: #FEFEFE;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #DDD;
}

.project-container img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.project-name {
  display: block;
  text-align: center;
  width: 100%;
}

.skills {
  display: flex;
}

.skills div {
  background-color: #CCCCCC;
  padding: 5px 7px 5px 7px;
  border-radius: 3px;
  margin-left: 1rem;
  border: 1px solid #FEFEFE;
  box-shadow: 5px 5px 5px #EEEEEE;
  cursor: pointer;
  user-select: none;
}

.skills div:first-child {
  margin-left: 0;
}

.skills .selected {
  background-color: #37768f;
  color: #FFFFFF;
}

.mini-skills {
  text-align: center;
  font-size: 0.7rem;
  margin: 10px;
}

.mini-skill {
  display: inline-block;
  margin: 3px;
  background-color: #CCCCCC;
  padding: 5px;
  border-radius: 3px;
  user-select: none;
}

.project-description {
  font-weight: normal;
  margin: 10px;
}
